/* NAVBAR */

.navbar {
    -webkit-box-shadow: 2px 2px 5px rgba(93,209,255, 0.8);
    opacity: 0.9;
    background: #fff;
}

.navbar .nav-item {
    font-size: 25px;
    padding-right: 40px;
}

/* BANNER section */

#bannerArea {
    position: relative;
    background: url('../img/bg.jpg');
    min-height: 600px;
}

#bannerArea .primary-overlay {
    position: absolute;
    background: rgba(93,209,255, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bannerArea img {
    max-height: 500px;
    margin-top: 150px;
    margin-left: 200px;
}

/* NEWSLETTER section */

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

/* MOTTO section */
#ourMotto {
    background: url('../img/middle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* BOXES section */
#boxes i:hover {
    font-weight: bolder;
}

/* FOOTER section */
footer {
    position: relative;
    height: 70px;
    width: 100%;
    font-size: 20px;
    background-color: rgba(93,209,255, 0.8);
}

footer p {
    position: absolute;
    width: 100%;
    color: #fff;
    /* to center the text VERTICALLY, line-height */
    line-height: 40px;
    text-align: center;
    bottom: 0;
}






